<% @user ||= current_user %>
<div class="stats">
  <h3><td> You are following (<%= current_user.following_posts.count %>) posts  </td>          </h3>

   <%  @posts=current_user.following_posts.paginate(page: params[:page])%>
  <ol>
    <%= render @posts %>
  </ol>
  <%= will_paginate @posts %>

  </a>

</div>