
    <div id="follow_form">
      <% if current_user!=User.find(@post.user_id)%>
      <% if  current_user.following?(@post) %>
          <%= render 'unfollow' %>
      <% else %>
          <%= render 'follow' %>
      <% end %>
          <% else %>
      You can not follow your own posts!
          <% end %>
    </div>
