<%= form_for(current_user.relationships.build(post_id: @post.id),remote: true) do |f| %>

    <div><%= f.hidden_field :post_id %></div>
    <%= f.submit "Join us now!", class: "btn btn-large btn-primary" %>
<% end %>