<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>

  <li class="active">Create a New Post</li>


</ul>

<%= render 'form' %>

<%= link_to 'See all posts', posts_path %>
