@import "bootstrap";

#logo {
  float: left;
  margin-right: 10px;
  font-size: 2.0em;
  color: #ff0000;

  letter-spacing: -1px;
  padding-top: 12px;
  font-weight: bold;
  line-height: 1;
  font-family:Copperplate / Copperplate Gothic Light, sans-serif;
  font-style: italic;

}

#logo:hover {
  color: #ffd700;
  text-decoration: Background;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}
body {
   padding-top: 60px;
 }

th {
  border-bottom: navy solid thin;
  border-top: navy solid thin;
  border-left: none;
  border-right: none;
  font-size: smaller;
  layout-grid-char: 10;
}
.li {border-top: outset;}
.field{
  border-top: outset;

  border-left: #7fff00;
  border-right: none;
  font-size: smaller;
  layout-grid-char: 10;
}

body
  {
  font-family: tahoma, sans-serif;
  font-size: 18px;
  background-color: #4B7399;
  width: 100%;
  color: #ffffff;
  margin: 0;
 // text-align: center;
}

content
  {
  width: 800px;
  margin: 0 auto;
  text-align: left;
}

.post
  {
  padding: 5px 20px 5px 20px;
  background-color: #ffffff;
  margin: 20px 0 20px 0;
  color: #000000;
}
.comment-line
  {
  border-bottom: 1px solid ;
  border-top: 1px solid ;
}