<header class="navbar navbar-fixed-top">
  <div id="user_nav" class="navbar-inner">
    <% if user_signed_in? %>
        <p class="text-warning"> Signed in as <%= current_user.email %>. Not you?
        <i class="btn"> <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>  </i>            </p>
    <% else %>
        <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
    <% end %>
  </div>


</header>